@{
    ViewData["Title"] = "Home Page";
}

<div class="mini-body">
    <h2>Get Token in MSA</h2>


    <a asp-route="redirect">Redirect To MS</a>

</div>

<script> 
    var ___id = setInterval(function() {
        function GetQueryString(str, name) {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = str.match(reg);
            if(r!=null) return unescape(r[2]); return null;
        }
        var hash = window.location.hash.substr(1);
 
        if (!!GetQueryString(hash, 'code')) {
            clearInterval(___id)
            fetch("/", {
                method: "POST",
                headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: hash
            })
        }
    }, 100);
</script>
   
